<ul class="topcoat-list list">
{{#each this}}
    <li class="topcoat-list__item">
        <a href="#employees/{{id}}">
            <img src='assets/pics/{{firstName}}_{{lastName}}.jpg'/>
            <p>{{firstName}} {{lastName}}</p>
            <p>{{title}}</p>
        </a>
    </li>
{{/each}}
</ul>